body {
	background-color: white;
	text-align: center;
}

h1 {
	text-align: center;
	color: black;
}

div {
	padding: 20px;
}

button {
	cursor: pointer;
	background-color: black;
	color: white;
	width: 200px;
	height: 50px;
}

.tweet, .quote, .author {
	color: black;
}

.tweet {
	text-decoration: none;
}
